<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDtoDatagridView.Properties.Settings.Valor" connectionString="Data Source=LAPTOP-8VVMNLRS\SQLEXPRESS;Initial Catalog=bdproyecto01;Persist Security Info=True;User ID=user;Password=glzflores"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>